<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AdhkarApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>ScheherazadeNew-Bold.ttf</string>
		<string>ScheherazadeNew-Medium.ttf</string>
		<string>ScheherazadeNew-Regular.ttf</string>
		<string>ScheherazadeNew-SemiBold.ttf</string>
		<string>NotoSansMalayalam-VariableFont_wdth,wght.ttf</string>
		<string>NotoSansMalayalam-Black.ttf</string>
		<string>NotoSansMalayalam-Bold.ttf</string>
		<string>NotoSansMalayalam-ExtraBold.ttf</string>
		<string>NotoSansMalayalam-ExtraLight.ttf</string>
		<string>NotoSansMalayalam-Light.ttf</string>
		<string>NotoSansMalayalam-Medium.ttf</string>
		<string>NotoSansMalayalam-Regular.ttf</string>
		<string>NotoSansMalayalam-SemiBold.ttf</string>
		<string>NotoSansMalayalam-Thin.ttf</string>
		<string>NotoSansMalayalam_Condensed-Black.ttf</string>
		<string>NotoSansMalayalam_Condensed-Bold.ttf</string>
		<string>NotoSansMalayalam_Condensed-ExtraBold.ttf</string>
		<string>NotoSansMalayalam_Condensed-ExtraLight.ttf</string>
		<string>NotoSansMalayalam_Condensed-Light.ttf</string>
		<string>NotoSansMalayalam_Condensed-Medium.ttf</string>
		<string>NotoSansMalayalam_Condensed-Regular.ttf</string>
		<string>NotoSansMalayalam_Condensed-SemiBold.ttf</string>
		<string>NotoSansMalayalam_Condensed-Thin.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-Black.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-Bold.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-Light.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-Medium.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-Regular.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSansMalayalam_ExtraCondensed-Thin.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-Black.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-Bold.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-Light.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-Medium.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-Regular.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSansMalayalam_SemiCondensed-Thin.ttf</string>
	</array>
</dict>
</plist>
